@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<div>
    @using (Html.BeginForm("Register", "Users", FormMethod.Post))
    {
        <div>
            @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "Email" })
            @Html.ValidationMessageFor(m => m.EmailAddress)
            @Html.ValidationMessage("email-exists")
        </div>
        <div>
            @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div>
            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Type password again" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        @Html.TextBoxFor(m => m.GoalCarbs, new { placeholder = "Daily carbohydrate goal (g)" })
        @Html.TextBoxFor(m => m.GoalProtein, new { placeholder = "Daily protein goal (g)" })
        @Html.TextBoxFor(m => m.GoalFat, new { placeholder = "Daily fat goal (g)" })
        <button>Register</button>
    }
</div>