@model DailyFoodItemList
@{
    ViewData["Title"] = "User Daily Foods";
}

<h2>Daily Foods</h2>
<table>
    <thead>
        <tr>
            <td><h3>Description</h3></td>
            <td><h3>Protein</h3></td>
            <td><h3>Carbohydrates</h3></td>
            <td><h3>Fat</h3></td>
        </tr>
    </thead>
    @{
        int totalProtein = 0;
        int totalFat = 0;
        int totalCarbs = 0; }

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                <a asp-controller="Food" asp-action="FoodDetail" asp-route-id="@item.FoodId">
                    <input type="hidden" asp-for="@item.FoodId" />
                    <h3>@item.FoodName</h3>
                </a>

            </td>
            <td>
                <h3>@item.Protein</h3>
            </td>
            <td>
                <h3>@item.Fat</h3>
            </td>
            <td>
                <h3>@item.Carbs</h3>
            </td>

            @{
                totalProtein += item.Protein;
                totalFat += item.Fat;
                totalCarbs += item.Carbs;
            }

        </tr>
    }
    <tfoot>
        <tr>
            <td></td>
            <td>
                <h3>@totalProtein</h3>
            </td>
            <td>
                <h3>@totalFat</h3>
            </td>
            <td>
                <h3>@totalCarbs</h3>
            </td>
        </tr>
    </tfoot>
</table>

