@model IList<Item>
@{
    ViewData["Title"] = "Result";
}

<h2>Result</h2>

@* Update the Result home controller so that it populates an actual list in items to return here  *@

    <table class="table">
        <thead>
            <tr>
                <th>Restaurant Name</th>
                <th>Food</th>
                <th>Calories</th>
                <th>Carbs</th>
                <th>Protein</th>
                <th>Fat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.RestaurantName</td>
                    <td>
                        @item.FoodName
                        </td>
                    <td>
                        @item.Calories </td>
                    <td>
                        @item.Carbs
                        </td>
                    <td>
                        @item.Protein
                        </td>
                    <td>
                        @item.Fat
                    </td>
                </tr>
            }
        </tbody>
    </table>